/* Millie MD Nov 2023 */

:root{

    --blue: #0099ff;
    --off_white: #f9f9f9;
    --black: #000000;

    --bg: #eeeeee;
}

/* Typography */

/* Buttons */

.button-blue{

    background-color: var(--blue);
    color: var(--off_white);

    border: none;
    border-radius: 5px;

    padding: 0.4vw 0.8vw;

    font-size: inherit;
    font-family: inherit;
}

.button-blue:hover{

    background-color: var(--off_white);
    color: var(--blue)

}

.button-light{

    background-color: var(--off_white);
    color: var(--black);

    border: none;
    border-radius: 5px;

    padding: 0.4vw 0.8vw;

    font-size: inherit;
    font-family: inherit;
}

.button-light:hover{

    background-color: var(--black);
    color: var(--off_white);

}

.button-dark{

    background-color: var(--black);
    color: var(--off_white);

    border: none;
    border-radius: 5px;

    padding: 0.4vw 0.8vw;

    font-size: inherit;
    font-family: inherit;

}

.button-dark:hover{

    background-color: var(--off_white);
    color: var(--black);

}

/* Sections */

html{
    height: 100%; 
    /* Required for body min-height: 100% */
}

body{

    /* Always place footer at the very bottom of screen, 
    even when content isn't that big*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100%;

    margin: 0;

    background-color: var(--bg);

    font-family: monospace;
}

.header{
    display: flex;
    justify-content: space-between;

    position: sticky;
    top:0;
    width: 100%;

    background-color: var(--blue);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.header .header-left button, .header .header-right button{

    font-size: 1.5rem;

    padding: 0.8vw;

}

.header .header-left button, .header .header-right a{

    text-decoration: none;

}

.header .header-left button, .header .header-right a:visited{

    text-decoration: none;

}


.title-section{

    width: 100%;
    
    text-align: center;
    font-size: 2rem;
}

.footer{

    padding: 2vw;

    text-align: center;

    background-color: var(--blue);
    color: var(--off_white);

    width: 100% - 4vw;

}

/* Home Page */

.title-section .title{

    padding: 11vw;
    font-size: 3em;
}


.info-section{

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

}

.info-section div{

    max-width: 80ch;
    margin: 5vw;

    font-size: 1.25em;

}

.info-section img{

    height: 15vw;
    width: auto;
}

.image-span{

    height: 20vw;
    text-align: center;

}

.image-span img{

    height: 100%;
    width: auto;
}

/* User Profiles */

/* Forms */

form{

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5rem;

    padding-bottom: 1vw;

}

input{

    border: 0;
    border-radius: 5px;

    max-width: 80ch;
    font-size: 1em;

    margin: 1vw;
    padding: 1vw;
}



